@import "../../mixins";
$green: #bae401;

#demos {
  background-color: black;

  .photos {
    //border: 1px solid red;
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    padding: 0 0 0 5vw;
    @include phone {
      padding: 0;
    }

    // Img
    > li {
      // border: 1px solid red;
      display: flex;
      align-items: center;

      > div {
        //border: 1px solid red;
        width: 70%;
        margin: 0 auto;
        background-color: #171719;

        > div {
          // border: 1px solid red;
          @include container;
          width: 70%;
          @include mb-L;
          p:first-of-type {
            @include S;
            color: $green;
            font-family: "knockouthtf71-fullmiddlewt";
            text-transform: uppercase;
            font-style: oblique;
          }
          p:nth-of-type(2) {
            @include L;
            color: white;
            font-family: "knockouthtf71-fullmiddlewt";
            text-transform: uppercase;
            font-style: oblique;
            display: flex;
            justify-content: space-between;
          }
        }
      }

      img {
        width: 100%;
        margin: 0 auto;
        position: relative;
        bottom: 1em;
        left: 2em;
      }

      @media only screen and (max-width: 550px) {
        min-width: 100vw;
      }
      @media only screen and (min-width: 551px) and (max-width: 768px) {
        min-width: 80vw;
      }
      @media only screen and (min-width: 769px) and (max-width: 1000px) {
        min-width: 60vw;
      }
      @media only screen and (min-width: 1001px) and (max-width: 1200px) {
        min-width: 50vw;
      }
      @include desktop {
        min-width: 35vw;
      }
    }
  }
}
