@import "../../mixins";
$green: #bae401;

.case {
  //border: 1px solid red;
  min-height: 100vh;
  @include flex-center;

  > div {
    @include container;
    @include flex-col-center;

    header {
      @include mb-L;
    }

    > div {
      // border: 1px solid red;
      height: 60vh;
      @include container;
      background-color: #f2f2f2;
      @include flex-center;
      @include mb-XL;

      svg {
        font-size: 6rem;
        color: black;
      }
    }

    button {
      @include L;
      text-transform: uppercase;
      font-family: "Work Sans", sans-serif;
    }
  }
}
