@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "mixins";

$green: #bae401;

@font-face {
  font-family: "lhf_asylumregular";
  src: url("./assets/fonts/lhfasylum-webfont.woff2") format("woff2"),
    url("./assets/fonts/lhfasylum-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "knockouthtf71-fullmiddlewt";
  src: url("./assets/fonts/knockout_htf71-fullmiddlewt_regular-webfont.woff2")
      format("woff2"),
    url("./assets/fonts/knockout_htf71-fullmiddlewt_regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
  // color: white;
  font-family: "Roboto", sans-serif;
  ///@include S;
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

section {
  padding: 100px 0;
  //background-color: transparent;
  header {
    // text-align: center;
    //  @include mb-L;
    //@include flex-col-center;
    h3 {
      //font-family: "knockouthtf71-fullmiddlewt";
      // text-transform: uppercase;
      // font-style: oblique;
      @include XXL;
      // @include mb-S;
      font-family: "Work Sans", sans-serif;
      font-weight: 900;
    }

    // h3 {
    //   font-family: "knockouthtf71-fullmiddlewt";
    text-transform: uppercase;
    font-style: italic;

    //   @include XXL;
    //   //  font-size: 8rem;
    // }
  }

  // &#info {
  //   background-color: $green;
  //   transform: skewY(-2.5deg);

  //   > div {
  //     transform: skewY(2.5deg);
  //   }
  // }

  // &#case {
  //   background-color: $green;
  //   transform: skewY(2.5deg);

  //   > div {
  //     transform: skewY(-2.5deg);
  //   }
  // }

  // &#cta {
  //   background-color: $green;
  //   transform: skewY(-2.5deg);

  //   > div {
  //     transform: skewY(2.5deg);
  //   }
  // }
}

ul {
  padding: 0;
  list-style-type: none;
}

img {
  width: 100%;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

// button {
//   border: none;
//   padding: 10px 50px;
//   @include S;
//   font-family: "Roboto", sans-serif;
//   font-weight: 500;
//   background-color: $green;
//   &.dark {
//     background-color: black;
//     color: $green;
//     &:hover {
//       background-color: #202020;
//     }
//   }
// }

@mixin container {
  width: 80%;
  margin: 0 auto;
}

svg {
  position: relative;
  top: 0.1em;
}
